body{
    margin:0px;
    font-size:18px;
}
.box{
    display:flex;
    flex-direction: row;
    background-color: white;
    width:50%;
    height:auto;
    margin:0px auto;
    border: black solid 2px;
    height:450px;
    border-radius: 40px;

    /* vertically aligh items */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    

}
.box .result{
    background-color: hsl(234, 85%, 45%);
    width:50%;
    border-radius: 40px;
    padding:10px 40px;
    text-align: center;
    color:hsl(241, 100%, 89%);
}
#your-result{
    font-size: 26px;
    margin:15px 0px;
}
#a76-100{
    padding: 40px;;
    width:30%;
    margin:20px auto;
    border-radius: 50%;
    border: solid black 2px;
}
#a76{
    font-size: 80px;
    color: white;
    font-weight: bolder;
}
#great{
    font-size: 30px;
    margin:15px 0px;
    font-weight: bold;
    color: white;
}
#desc{
    font-size: 18px;
    padding:10px 60px;
}
.box .summary{
    width:50%;
    padding:40px;
    margin:10px;
}
.summary .sumy{
    font-size: 26px;
    margin:15px 0px;
}
.summary .reaction{
    font-size: 22px;
    margin:10px;
    padding:10px;
    border-radius: 7px;
}
.summary .score{
    font-size: 22px;
    float: right;
}
button{
    margin: 0px auto;;
    width: 98%;
    height:40px;
    border-radius: 20px;;
}
#R{
    background-color: hsl(0, 100%, 67%,0.1);
}
#Y{
    background-color: hsl(39, 100%, 56%,0.1);
}
#G{
    background-color: hsl(166, 100%, 37%,0.1);
}
#P{
    background-color: hsl(234, 85%, 45%,0.1);
}